{% extends "layout.html" %}
{% block title %} {% block graph %} Graph Type {% endblock %} {% endblock %}
{% block body %}
<div class="app">
    <div class="mt-3">
        <h1>{{ self.graph() }}</h1>
    </div>
    <div class="breadcrumb">
        <form action="" method="post" style="margin: 0">
            <input type="hidden" name="metric" value="{{ metric }}"/>
            <div class="input-group">
                <input type="text" name="key" class="form-control" aria-describedby="slack-key"
                       placeholder="Slack API key" value="{{ key }}">
                <input type="number" name="threshold" value="{{ threshold }}" class="form-control"
                       placeholder="Threshold">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-success">Draw</button>
            </span>
            </div>
        </form>
    </div>
</div>
    <svg class="app-content">
    </svg>
</div>
<script>
    var key = '{{ key }}';
    var threshold = {{ threshold }};

</script>
{% endblock %}