<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Social Network Analysis 4 Slack</title>
    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    </style>
  </head>

  <body>

    
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <img src="/static/slack.png" alt="slack" height="150" width="150">
          <h1 class="mt-5">Socail Analysis For Your Slack Channel</h1>
          <form action="{{ url_for('show') }}"  method="post">
            <div class="form-group">
              <label for="slack-key">API Key</label>
              <input type="text" name="slack-key" class="form-control" id="slack-key" aria-describedby="slack-key" placeholder="Enter Slack API key">
              <small id="slack-key" class="form-text text-muted">We'll never share your API key with anyone else.</small>
            </div>
            <!--<div class="form-group">
              <label for="threshold">Threshold</label>
              <input type="text" name="threshold" class="form-control" id="threshold" placeholder="Threshold">
            </div>-->
            <div class="form-group">
                <label for="sna-metric">Select sna-metric:</label>
                <select name="sna-metric" class="form-control" id="sna-metric">
                  <option>Degree</option>
                  <option>Eigenvector</option>
                  <option>Shortest Path</option>
                </select>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
