html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
}
.app-header {
}

.app-content {
  flex: 1;
  position: relative;
  display: flex;
}
.app-footer {
}

.app-content > .app {
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}